pytest
pytest-timeout
numpy==1.23.5; platform_python_implementation!="PyPy"
numpy; platform_python_implementation=="PyPy"
tifffile 
czifile
blosc; platform_python_implementation!="PyPy"
blosc2; platform_python_implementation!="PyPy"
lz4
zstd
python-lzf
pyliblzfse
git+https://github.com/cgohlke/bitshuffle@patch-1
Brotli
zopflipy
python-snappy; python_version<"3.10" and platform_python_implementation!="PyPy"
zarr; platform_python_implementation!="PyPy"
numcodecs; platform_python_implementation!="PyPy"
