pytest
numpy
tifffile==2021.1.11
czifile==2019.7.2
git+https://github.com/Czaki/python-blosc@pypy_fix
blosc==1.9.2
lz4==3.1.1
zstd==1.4.5.1
python-lzf==0.2.4
git+https://github.com/Czaki/bitshuffle@no_hdf5
Brotli==1.0.7
zopflipy==1.4
python-snappy==0.6
pytest-timeout
