pytest
numpy
tifffile==2021.4.8 
czifile==2019.7.2
blosc==1.10.2
lz4==3.1.3
zstd==1.4.9.1
python-lzf==0.2.4
git+https://github.com/cgohlke/bitshuffle@patch-1
Brotli==1.0.9
zopflipy==1.5
python-snappy==0.6.0
pytest-timeout
zarr
numcodecs